<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menue</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Jorges Homepage</h1>
    <img th:src="@{/images/FuchsIcon.png}" alt="Ein lustiger Fuchs">
    <h3 th:text="|Jorges Zeit: ${lahoradelJorge}|"/>
    <ol>
      <li>El Josu come arroz</li>
    </ol>
    <ol>
      <li th:each="jorge : ${listevonjorge}" th:text="${jorge}">Es ist meine liste</li>
    </ol>
</body>
</html>
